.whatsapp-container{

    width:100%;
    max-width:500px;
    height:650px;
    margin:30px auto;

    background:#efeae2;

    display:flex;
    flex-direction:column;

    border-radius:15px;

    overflow:hidden;

}



.chat-header{

    background:#075e54;

    color:white;

    padding:15px;

}



.chat-header h3{

    margin:0;

}



.chat-header span{

    font-size:13px;

}





.messages{

    flex:1;

    padding:15px;

    overflow-y:auto;

}





.my-message{

    background:#dcf8c6;

    max-width:70%;

    margin-left:auto;

    margin-bottom:10px;

    padding:10px;

    border-radius:10px 0px 10px 10px;


}





.other-message{

    background:white;

    max-width:70%;

    margin-right:auto;

    margin-bottom:10px;

    padding:10px;

    border-radius:0px 10px 10px 10px;


}





.message p{

    margin:0;

}





small{

    font-size:10px;

    color:gray;

}





.input-area{

    display:flex;

    padding:10px;

    background:white;

}



.input-area input{

    flex:1;

    border-radius:20px;

    border:1px solid #ccc;

    padding:12px;

    outline:none;

}




.input-area button{

    margin-left:10px;

    border:none;

    background:#075e54;

    color:white;

    width:45px;

    height:45px;

    border-radius:50%;

    cursor:pointer;

}