.lost-section{

    padding:100px 0;

    background:#f8fafc;

}


.items-grid{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:30px;

}


.item-card{

    background:white;

    border-radius:25px;

    overflow:hidden;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

}


.item-card:hover{

    transform:translateY(-10px);

}


.item-card img{

    width:100%;

    height:220px;

    object-fit:cover;

}


.item-content{

    padding:25px;

}


.lost-badge{

    background:#fee2e2;

    color:#dc2626;

    padding:6px 15px;

    border-radius:20px;

    font-size:14px;

    font-weight:600;

}


.item-content h3{

    margin:18px 0;

    font-size:24px;

    font-weight:700;

}


.item-content p{

    color:#64748b;

}


.item-content i{

    color:#2563eb;

    margin-right:10px;

}


.item-content button{

    width:100%;

    border:none;

    background:#2563eb;

    color:white;

    padding:12px;

    border-radius:30px;

    margin-top:15px;

    font-weight:600;

}


.item-content button:hover{

    background:#1d4ed8;

}


@media(max-width:900px){

.items-grid{

grid-template-columns:
repeat(2,1fr);

}

}


@media(max-width:600px){

.items-grid{

grid-template-columns:
1fr;

}

}

