.navbar{

    padding:15px 0;

}



.logo{

    display:flex;

    align-items:center;

    gap:10px;

    color:white !important;

    text-decoration:none;

    font-size:32px;

    font-weight:700;

    letter-spacing:1px;

}



.logo-icon{

    font-size:40px;

}



.nav-link{

    color:white !important;

    font-size:16px;

    font-weight:500;

}



.nav-link:hover{

    color:#ffd700 !important;

}





.profile-btn{

    font-weight:600;

}





.btn{

    border-radius:20px;

    padding:8px 18px;

}





@media(max-width:768px){


    .navbar-nav{

        margin-top:20px;

        text-align:center;

    }


    .logo{

        font-size:26px;

    }


    .logo-icon{

        font-size:32px;

    }


    .profile-dropdown{

    position:relative;

}



.profile-btn{

    background:none;

    border:none;

    color:white;

    font-weight:bold;

    cursor:pointer;

}



.dropdown-menu{

    display:none;

    position:absolute;

    right:0;

    top:40px;

    background:white;

    width:180px;

    border-radius:15px;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.15);

    overflow:hidden;

}



.profile-dropdown:hover .dropdown-menu{

    display:block;

}



.dropdown-menu a,
.dropdown-menu button{

    display:block;

    width:100%;

    padding:12px 15px;

    text-decoration:none;

    color:#333;

    background:white;

    border:none;

    text-align:left;

}



.dropdown-menu a:hover,
.dropdown-menu button:hover{

    background:#f1f5ff;

}

}